:root {
  // Local color variables
  // --black: #000;
  --black: 0, 0, 0;
  --white: #fff;

  --dark: #414141;

  --blue: #009ece;
  --light-blue: #eaf0f7;
  --light-blue2: #f1f3f7;
  --dark-blue: #445A8C;
  --dark-blue2: #5d6475;
  --dirty-blue: #8593a9;

  --dark-lilac: #614cd9;
  --purple: #b881fc;

  --green: #00aa64;
  --light-green: #58b236;

  --grey: #727682;
  --grey2: #929292;
  --grey3: #d9d9d9;
  --grey4: #666;
  --grey5: #e6e6e6;

  // --light-grey: #f2f3f3;
  --light-grey: 242, 243, 243;
  // --light-grey2: #e4e4e4;
  --light-grey2: 228, 228, 228;
  --light-grey3: #FBFBFB;

  --brown: #beb0b0;
  --dark-brown: #919191;
  --pastel: #c4a7b3;

  --orange: #f7941d;

  --red: #C83434;
  --dark-red: #A82C2C;
  --light-red: #FF0A12;

  // Global color variables
  --primary: var(--dark);
  --secondary: var(--grey);
  --light: var(--white);

  --info: var(--blue);
  --info-light: var(--light-blue);
  --info-dark: var(--dark-blue);

  --success: var(--green);
  --success-light: var(--light-green);

  --border-color: rgb(var(--light-grey));

  --object-text-shadow-color: rgb(var(--black));
  --object-shadow-color: rgba(33, 33, 33, 20%);
  --object-link: var(--brown);
  --object-link-hover: var(--dark-lilac);
  --property-card-characteristic-color: var(--dark-brown);
  --property-characteristic-color: var(--dark-blue2);
  --object-id-color: var(--pastel);
  --property-page-title: var(--grey4);

  --similar-objects-bg: var(--light-blue2);

  --main-wrapper-shadow-color: rgba(var(--black), 20%);
  --main-wrapper-bg: var(--light-grey3);
  --mobile-sidebar-bg: rgb(var(--black));
  --mobile-menu-link-hover-bg: var(--purple);
  --mobile-menu-border-color: #576871;

  --filter-link: var(--dirty-blue);
  --filter-button-bg: var(--light-blue);
  --filter-active-button-bg: rgba(var(--orange), .2);
  --filter-border-color: var(--purple);

  --radio-circle-color: var(--orange);
  --checkbox-border-color: #dde4e9;

  --pagination-item-bg-color: var(--grey2);
  --pagination-item-border-color: var(rgb(--light-grey2));

  --btn-outline-border-color: var(--grey3);

  --accordion-panel-hover: var(--purple);
  --accordion-panel-border: var(--grey5);

  --danger: var(--red);
  --danger-active: var(--dark-red);
  --danger-light: var(--light-red);

  --radio-btn-tab-bg: rgba(var(--light-grey2), .9);
  --radio-btn-tab-active-bg: rgba(var(--light-grey), .9);
  --radio-btn-tab-border: var(--grey3);

  // Font variables
  --base-font: 'Museo Sans Cyrl 500', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  --textbook-new-web: 'Textbook New Web', sans-serif;
}

// START: layout vars
$xs: '(max-width: 575px)';
$sm: '(min-width: 576px) and (max-width: 767px)';
$smPlus: '(min-width: 576px)';
$smMinus: '(max-width: 575px)';
$md: '(min-width: 768px) and (max-width: 991px)';
$mdPlus: '(min-width: 768px)';
$mdMinus: '(max-width: 767px)';
$lg: '(min-width: 992px) and (max-width: 1199px)';
$lgPlus: '(min-width: 992px)';
$lgMinus: '(max-width: 991px)';
$xl: '(min-width: 1200px) and (max-width: 1399px)';
$xlPlus: '(min-width: 1200px)';
$xlMinus: '(max-width: 1199px)';
$xxl: '(min-width: 1400px)';