// Local color variables
$black: #000;
$white: #fff;

$dark: #414141;

$blue: #009ece;
$light-blue: #eaf0f7;
$light-blue2: #f1f3f7;
$dark-blue: #445A8C;
$dark-blue2: #5d6475;
$dirty-blue: #8593a9;

$dark-lilac: #614cd9;
$purple: #b881fc;

$green: #00aa64;
$light-green: #58b236;

$grey: #727682;
$grey2: #929292;
$grey3: #d9d9d9;
$grey4: #666;
$grey5: #e6e6e6;

$light-grey: #f2f3f3;
$light-grey2: #e4e4e4;
$light-grey3: #FBFBFB;

$brown: #beb0b0;
$dark-brown: #919191;
$pastel: #c4a7b3;

$orange: #f7941d;

$red: #C83434;
$dark-red: #A82C2C;
$light-red: #FF0A12;


// Global color variables
$primary: $dark;
$secondary: $grey;
$light: $white;

$info: $blue;
$info-light: $light-blue;
$info-dark: $dark-blue;

$success: $green;
$success-light: $light-green;

$border-color: $light-grey;

$object-text-shadow-color: $black;
$object-shadow-color: rgba(33, 33, 33, 20%);
$object-link: $brown;
$object-link-hover: $dark-lilac;
$property-card-characteristic-color: $dark-brown;
$property-characteristic-color: $dark-blue2;
$object-id-color: $pastel;
$property-page-title: $grey4;

$similar-objects-bg: $light-blue2;

$main-wrapper-shadow-color: rgba(0, 0, 0, 20%);
$main-wrapper-bg: $light-grey3;
$mobile-sidebar-bg: $black;
$mobile-menu-link-hover-bg: $purple;
$mobile-menu-border-color: #576871;

$filter-link: $dirty-blue;
$filter-button-bg: $light-blue;
$filter-active-button-bg: rgba($orange, .2);
$filter-border-color: $purple;

$radio-circle-color: $orange;
$checkbox-border-color: #dde4e9;

$pagination-item-bg-color: $grey2;
$pagination-item-border-color: $light-grey2;

$btn-outline-border-color: $grey3;

$accordion-panel-hover: $purple;
$accordion-panel-border: $grey5;

$danger: $red;
$danger-active: $dark-red;
$danger-light: $light-red;

$radio-btn-tab-bg: rgba($light-grey2, .9);
$radio-btn-tab-active-bg: rgba($light-grey, .9);
$radio-btn-tab-border: $grey3;

// Font variables
$base-font: 'Museo Sans Cyrl 500', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$textbook-new-web: 'Textbook New Web', sans-serif;

// START: layout vars
$xs: '(max-width: 575px)';
$sm: '(min-width: 576px) and (max-width: 767px)';
$smPlus: '(min-width: 576px)';
$smMinus: '(max-width: 575px)';
$md: '(min-width: 768px) and (max-width: 991px)';
$mdPlus: '(min-width: 768px)';
$mdMinus: '(max-width: 767px)';
$lg: '(min-width: 992px) and (max-width: 1199px)';
$lgPlus: '(min-width: 992px)';
$lgMinus: '(max-width: 991px)';
$xl: '(min-width: 1200px) and (max-width: 1399px)';
$xlPlus: '(min-width: 1200px)';
$xlMinus: '(max-width: 1199px)';
$xxl: '(min-width: 1400px)';