.AboutPage {
  &_title {
    margin-bottom: 0;
    padding: 20px;
    font-size: 40px;
    line-height: 45px;
  }

  &_imgWrapper {
    margin-bottom: 50px;
  }

  &_mainWrapper {
    @media #{$lgPlus} {
      display: grid;
      grid-template-columns: 1fr 320px;
      gap: 40px;
    }
  }

  &_subTitle {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
  }

  &_text {
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
  }

  &_contacts {
    @media #{$lgMinus} {
      margin-left: 40px;
    }
  }
}