.Banner {
  min-height: 160px;
  background-position: center -123px;
  background-repeat: no-repeat;
  background-size: cover;

  @media #{$lgPlus} {
    min-height: 250px;
    background-position: center center;
  }

  @media #{$xlPlus} {
    display: grid;
    align-content: center;
    min-height: 500px;
  }

  .Filter {
    @media #{$xlPlus} {
      margin-top: 51px;
    }
  }
}