.BtnOutline {
  display: inline-grid;
  padding: 13px 20px;
  border: 1px solid var(--btn-outline-border-color);
  border-radius: 50px;
  background: var(--light);
  color: var(--filter-link);
  outline: none;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  transition: all .25s;

  &:hover,
  &:focus {
    background: var(--filter-link);
    color: var(--light);
  }
}