.BtnSuccess {
	display: inline-grid;
	padding: .968em 3.3em;
	border-radius: 5px;
	background: var(--success);
	color: var(--light);
	border: none;
	outline: none;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	transition: all .25s;

	&:hover,
	&:focus {
		color: var(--light);
		// background: darken($success, 15%);
		background: var(--success);
	}

	&-fullWidth {
		width: 100%;
	}

	&-rounded {
		border-radius: 30px;
	}

	&-services {
		@media #{$lgPlus} {
			padding: 10px 20px;
			font-size: 14px;
		}
	}
}