.Filter {
	display: grid;
	grid-template-columns: 1fr;
	align-items: end;
	gap: 15px;
	width: 100%;

	&_items {
		border-radius: 5px;
	}

	&_bottom {
		display: flex;
	}

	&_item {
		flex: 1 0 0;
		border-top: 1px solid var(--border-color);
		border-right: 1px solid var(--border-color);
		border-bottom: 1px solid var(--border-color);

		&:first-child {
			border-left: 1px solid var(--border-color);
		}
	}

	&_actions {
		text-align: right;
	}
}