.FilterElement {
	background: var(--light);

	&_dropdown {
		&-propertyType {
			width: 250px;
		}
	}

	&_formText {
		height: 100%;
		padding: 9px 20px;
		border: none;
		outline: none;
		color: var(--secondary);
		font-size: 13px;
	}
}