.Filter {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 15px;
	width: 1190px;
	max-width: 100%;
	
	&_items {
		display: flex;
		justify-content: flex-start;
		padding: 0 47px;
		border: 1px solid $filter-border-color;
		border-radius: 5px;
		background: $light;
  }
	
	&_item {
		border-right: 1px solid $border-color;
  }
}