.FilterElement {
	background: $light;

	&_dropdown {
		top: 7px !important;
		left: 0 !important;

		&-propertyType {
			width: 250px;
		}
	}

	&_formText {
		height: 100%;
		padding: 9px 20px;
		border: none;
		outline: none;
		color: $secondary;
		font-size: 13px;
	}
}