.FormText {
  height: 35px;
  padding: 9px;
  border: 1px solid var(--checkbox-border-color);
  outline: none;
  border-radius: 3px;
  background: var(--light);
  color: var(--filter-link);
  font-size: 13px;
}