.Header {
  position: relative;
  box-shadow: 0 1px 4px 0 #0000001a;

  @media #{$xlMinus} {
    text-align: center;
  }

  &_wrapper {
    @media #{$xlPlus} {
      display: grid;
      grid-template-columns: auto 1fr auto auto;
      align-items: center;
      min-height: 90px;
    }
  }

  &_menuHamburger {
    position: absolute;
    top: 0;
    left: 0;
  }

  &_logo {
    margin-top: 10px;
    margin-bottom: 13px;
  }

  &_mainMenu {
    justify-self: end;
    align-self: stretch;

    @media #{$xlPlus} {
      margin-right: 5px;
    }
  }

  &_phone {
    margin-right: 10px;

    @media #{$xlMinus} {
      margin-bottom: 5px;
    }

    @media #{$xlPlus} {
      margin-right: 20px;
    }
  }

  &_languageSwitcher {
    @media #{$xlPlus} {
      margin-right: -25px;
    }
  }
}