.Language {
	display: inline-grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 10px;
	min-width: 130px;
	color: $secondary;
	text-decoration: none;
	
	&_icon {
		height: 15px;
		margin-top: -3px;
  }
	
	&:hover {
		color: $secondary;
  }
}