.MobileHeader {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding-right: 20px;
  background: var(--info-light);
  visibility: hidden;
  opacity: 0;

  &-visible {
    visibility: visible;
    opacity: 1;
  }
}