.Pagination {
  &_list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  &_prevBtn,
  &_nextBtn {
    border: none;
    background: transparent;
    padding: 8px 10px;
    color: $secondary;
    font-size: 24px;
    transition: all .3s ease;

    svg {
      transition: all .3s ease;
    }

    &:hover {
      svg {
        color: $info;
      }
    }

    &:disabled {
      filter: grayscale(100%) opacity(50%);
    }
  }

  &_item {
    &-current {
      .Pagination_btn {
        background: $pagination-item-bg-color;
        color: $light;
      }
    }
  }

  &_btn {
    display: flex;
    padding: 10px 18px;
    color: $primary;
    border: 1px solid $pagination-item-border-color;
    background: transparent;
    border-radius: 25px;
    text-decoration: none;
    font-size: 15px;
    line-height: 12px;
    transition: all .3s ease;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $light;
      background: $info;
    }
  }
}
