.Phone {
  display: inline-flex;
  color: $info-dark;
  text-decoration: none;

  @media #{$xlPlus} {
    gap: 3px;
    color: $primary;
  }

  &:hover {
    color: $info-dark;

    @media #{$xlPlus} {
      color: $primary;
    }
  }

  &>svg {
    margin-right: 10px;
    color: $info;
  }
}