.Phone {
  display: inline-flex;
  color: var(--info-dark);
  text-decoration: none;

  @media #{$xlPlus} {
    gap: 3px;
    color: var(--primary);
  }

  &:hover {
    color: var(--info-dark);

    @media #{$xlPlus} {
      color: var(--primary);
    }
  }

  &>svg {
    margin-right: 10px;
    color: var(--info);
  }
}