.PropertyPage {
  padding: 20px 0 0;

  @media #{$mdPlus} {
    padding: 30px 0 0;
  }

  @media #{$lgPlus} {
    padding: 40px 0 0;
  }

  &_imgContainer {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  &_btnWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
  }

  &_title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 23px;
    line-height: 1.2;
    color: $property-page-title;
  }

  &_accordion {
    margin-bottom: 30px;
  }

  &_description {
    padding: 20px 10px;
    color: $property-characteristic-color;
    font-size: 15px;
    line-height: 1.6;
  }
}