.SecondaryMenu {
  &_list {
    list-style: none;
    padding-left: 0;
  }

  &_item,
  &_link {
    color: var(--secondary);
    font-size: 15px;
    line-height: 1.733;
  }

  &_link {
    text-decoration: none;
  }
}