.Service {
	&_title {
		margin-bottom: 15px;
		color: var(--primary);
		font-size: 60px;

		@media #{$xlPlus} {
			margin-bottom: 18px;
			font-size: 100px;
		}

		a {
			color: var(--primary);
			text-decoration: none;
		}
	}

	&_menu {
		margin-top: 3px;
		margin-left: 15px;
	}

	&_description {
		font-size: 15px;
		line-height: 1.6;
	}

	&_subTitle {
		margin-bottom: 0;
		font-size: 18px;
		line-height: 1.34;
		color: var(--success);
	}
}