.ServicesMenu {
	&_list {
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
  }
	
	&_item {
		margin-bottom: 5px;
		font-size: 18px;
		line-height: 1.8;
		
		&:last-child {
			margin-bottom: 0;
    }
  }
		
	&_link {
		color: $primary;
		text-decoration: none;
  }
}