.Switch {
  &_input {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked~.Switch_label {
      background: var(--filter-active-button-bg);
    }
  }

  &_label {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    line-height: 1;
    background: rgba(var(--border-color), .5);
    color: var(--filter-link);
    cursor: pointer;
    transition: all .4s;
  }

  &:hover {
    .Switch_label {
      background: var(--filter-active-button-bg);
    }
  }
}